################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/EconomicDataViewer/.vs/EconomicDataViewer
/EconomicDataViewer/EconomicDataViewer/bin/x64/Debug/net7.0-windows
/EconomicDataViewer/EconomicDataViewer/obj
